<div class="container">
 
      <div class="row">
   
<h2 class="text-white text-center"><b>Nuestros amigos...</b></h2>
        <div class="col-sm-12 col-lg-6 col-xl-4 my-3">
            <div class="card" style="width: 18rem;">
              <img src="../../../assets/images/dogs friends.jpg" class="card-img-top" alt="dog friendly">
              <div class="card-body">
                <p class="card-text text-center"><b>Max y Charly</b></p>
              </div>
            </div>
        </div>

      <div class="col-sm-12 col-lg-6 col-xl-4 my-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/brothers.jpg" class="card-img-top" alt="hermanos">
            <div class="card-body">
              <p class="card-text text-center"><b>Lola y Milo</b></p>
            </div>
          </div>
      </div>

          <div class="col-sm-12 col-lg-6 col-xl-4 my-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/burro 2.jpg" class="card-img-top" alt="burro">
            <div class="card-body">
              <p class="card-text text-center"><b>Lily y Leo</b></p>
            </div>
          </div>
      </div>

          <div class="col-sm-12 col-lg-6 col-xl-4 my-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/carl.jpg" class="card-img-top" alt="Carl">
            <div class="card-body">
              <p class="card-text text-center"><b>Carl</b></p>
            </div>
          </div>
      </div>

      <div class="col-sm-12 col-lg-6 col-xl-4 my-3">
            <div class="card" style="width: 18rem;">
                  <img src="../../../assets/images/black dog.jpg" class="card-img-top" alt="perro negro">
                  <div class="card-body">
                    <p class="card-text text-center"><b>Bruno</b></p>
                  </div>
                </div>
            </div>

        


          <div class="col-sm-12 col-lg-6 col-xl-4 my-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/muela.jpg" class="card-img-top" alt="muela">
            <div class="card-body">
              <p class="card-text text-center"><b>Muela</b></p>
            </div>
          </div>
      </div>

          <div class="col-sm-12 col-lg-6 col-xl-4 my-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/sweete.jpg" class="card-img-top" alt="sweete">
            <div class="card-body">
              <p class="card-text text-center"><b>Caramelo, Miel y Algodon</b></p>
            </div>
          </div>
      </div>

      <div class="col-sm-12 col-lg-6 col-xl-4 my-3">
            <div class="card" style="width: 18rem;">
              <img src="../../../assets/images/pupi.jpg" class="card-img-top" alt="pupi">
              <div class="card-body">
                <p class="card-text text-center"><b>Pupi</b></p>
              </div>
            </div>
        </div>
         
      </div>
  </div>
 
  <hr>