<div class="galeria">
 
        <div><img src="../../../assets/images/black dog.jpg" title="perro negro"></div>
        <div><img src="../../../assets/images/brothers.jpg" title="hermanos"></div>
        <div><img src="../../../assets/images/burro 2.jpg" title="burro"></div>       
        <div><img src="../../../assets/images/carl.jpg" title="Carl"></div>
        <div><img src="../../../assets/images/dogs friends.jpg" title="dog friendly"></div>
        <div><img src="../../../assets/images/pupi.jpg" title="pupi"></div>
        <div><img src="../../../assets/images/muela.jpg" title="muela"></div>
        <div><img src="../../../assets/images/sweete.jpg" title="sweete"></div>
      
  </div>
  <br>
  
  <hr>