<div class="contenedor">
    <h1 class="titulo">Balanceados</h1>

    <div class="alimentos">
        <div id="canes"><h2>Canes</h2>
            <div><h3>Cachorros</h3>
                        <p>pequeños</p>
                        <p>medianos</p>
                        <p>grandes</p>
            </div>
            <br>
            <div> <h3>Adultos</h3>
                        <p>pequeños</p>
                        <p>medianos</p>
                        <p>grandes</p>
            </div>
        </div>

        <div id="felinos">
            <h2>Felinos</h2>
            <div><h3>cachorros</h3>
                        <p>pequeños</p>
                        <p>medianos</p>
                
            </div>
            <br>
            <div> <h3>Adultos</h3>
                        <p>pequeños</p>
                        <p>medianos</p>
                        <p>grandes</p>
            </div>
        </div>
        <div id="equinos">
            <h2>Equinos</h2>
                <p>caballos</p>
                <p>yeguas</p>
                <p>potrancas</p>
                <p>potrillos</p>
                <p>etc</p>
        

        </div>
        <div id="otros"> <h2>Otros animales</h2>
            <span>consultar</span>
            
        </div>




    </div>
    <hr>
    
    <div class="accesorios">

    </div>
    <div   class="servicios" >

    </div>

</div>
