
  
<div class="content">
<p>
<img src="../assets/images/logo ok.png">
</p>

  <H1>TRIVET - Agroveterinaria</H1>
   

  </div>
  

  <nav class="nav" >
    <a [routerLink]="['home']" [routerLinkActive]="['active']">Home</a>
    &nbsp;
    <a [routerLink]="['presentacion']" [routerLinkActive]="['active']">Presentacion</a>
    &nbsp;     
    <a [routerLink]="['productos']" [routerLinkActive]="['active']">Productos</a>
    &nbsp;
    <a [routerLink]="['galeria']" [routerLinkActive]="['active']">Galeria</a>
    &nbsp;
    <a [routerLink]="['contacto']" [routerLinkActive]="['active']">Contacto</a>
    &nbsp;
  </nav>

  <router-outlet></router-outlet>


  
  <br>
  <br>
  <div id="prueba-block">
      <div class="final">
        <div class="columna">
          <h3>Info útil</h3>
              <p><a href="#">Términos y condiciones</a>&nbsp;</p>
              <p><a href="#">Politicas de privacidad</a>&nbsp;</p>
              <p><a href="#">Preguntas frecuentes</a>&nbsp;</p>
        </div>

        <div class="columna">
          <h3>Contáctanos</h3>
              <p> ✆  03543 65-3302</p>    
              <p> ✉ trivet@trivet.com</p>    
              <p>⏰ 9-13 y de 17 a 21</p>
        </div>

 
      <div class="columna">
        <h3>Sigamos conectados</h3>
          <p>
          <img src="../assets/images/facebook.png"> facebook_trivet
          </p>
          <p>
            <img src="../assets/images/instagram.png"> instagram_trivet
          </p>

      </div>
    </div>
</div>

<footer class="footer">
  todos los derechos reservados Daniel Grecco &#169; 2023 
</footer>

