<div class="container-fluid">

  <div class="container my-3 mt-5">
    <div class="row">
      
      <div class="col-9 text-center">
        <h2 class="float-left" >TRIVET - Agroveterinaria <small style="color:grey">(No oficial)</small></h2>
      </div>

      <div class="col-3">
        <img src="../assets/images/logo ok.png" class="float-right" width="25%">
      </div>

    </div>
  </div>
  

  <nav class="navbar my-3" style="background-color: #e3f2fd; border-radius: 30%; " >
    <a [routerLink]="['home']" [routerLinkActive]="['active']" class="mx-5">Home</a>
    &nbsp;
    <a [routerLink]="['presentacion']" [routerLinkActive]="['active']" class="mx-3">Presentacion</a>
    &nbsp;     
    <a [routerLink]="['productos']" [routerLinkActive]="['active']" class="mx-3">Productos</a>
    &nbsp;
    <a [routerLink]="['galeria']" [routerLinkActive]="['active']" class="mx-3">Galeria</a>
    &nbsp;
    <a [routerLink]="['contacto']" [routerLinkActive]="['active']" class="mx-3">Contacto</a>
    &nbsp;
  </nav>

  <router-outlet></router-outlet>


  
  <br>
  <br>
  <div class="container my-5">
      
      <div class="row">
        <div class="col-4">
          <h3>Info útil</h3>
              <p><a href="#">Términos y condiciones</a>&nbsp;</p>
              <p><a href="#">Politicas de privacidad</a>&nbsp;</p>
              <p><a href="#">Preguntas frecuentes</a>&nbsp;</p>
        </div>

        <div class="col-4">
          <h3>Contáctanos</h3>
              <p> ✆  03543 65-3302</p>    
              <p> ✉ trivet@trivet.com</p>    
              <p>⏰ 9-13 y de 17 a 21</p>
        </div>

 
      <div class="col-4">
        <h3>Sigamos conectados</h3>
          <p>
          <img src="../assets/images/facebook.png" width="10%"> facebook_trivet
          </p>
          <p>
            <img src="../assets/images/instagram.png" width="10%"> instagram_trivet
          </p>

      </div>
    
  </div>



</div>


<footer class="footer fixed-bottom">
  <p style="background-color: black;"><b> Todos los derechos reservados Daniel Grecco &#169; 2023</b></p> 
</footer>

